* {
    font-family: helvetica;
}

body {
    width: 99%;
    margin: 0;
    height: 99vh;
    border: 1px solid #eaebeb;
}
/* Header */
header {
    background-color: #EEEEEE;
}

.header-container {
    height: 70px;
}

/* Header logo (left side) */
.header-logo {
    float: left;
    height: 100%;
}

.header-logo-elements, .header-nav-elements > li > a {
    color:inherit;
    text-decoration: none;
}

/* Header navigation bar (right side) */
.header-nav {
    float: right;
    height: 100%;
}

.header-nav-elements {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header-nav-elements > li {
    margin-top: 25px;
    padding-right: 20px;
    vertical-align: text-top;
    height: 50%;
    display: inline-block;
}

.header-logo-elements > svg {
    margin-top: 5%;
    margin-left: 5%;
}

.fa-user {
    padding-left: 40%;
}

.nav-user-name {
    margin: 0;
    text-align: center;
    color: #4a8785;
}

#nav-notifications {
    position: relative;
}

.nb-notif {
    position: absolute;
    z-index: 1;
    border-radius: 16px;
    background-color: #d9534f;
    text-align: center;
    width: 16px;
    height: 16px;
    font-size: 0.7em;
    display: none;
    box-shadow:0 0 1px #333;
    right: 10px;
    bottom: 6px;
}

/* Main area of the app */
.main-left, .main-right {
    box-sizing: border-box;
    vertical-align: top;
}

.groupe-actif, .liste-des-groupes {
    background-color: #4a8785;
    color: #fff;
    height: auto;
}

/* Left area */
.main-left {
    float: left;
    width: 70%;
    border-right: 1px solid #eaebeb;
    height: 87vh;
    position: relative;
}

#groupe-actif-titre, #groupe-actif-nom {
    margin: 0;
}

.chat-area{
    height: 65vh;
    overflow-y: auto;
}

.message {
    width: 40%;
    word-wrap: break-word;
    padding: 4px;
    margin-left: 2%;
    background-color: #e7e7e7;
    border-radius: 12px;
}

.message-admin {
    width: 40%;
    word-wrap: break-word;
    padding: 4px;
    margin-left: 2%;
    background-color: #ff0000;
    border-radius: 4px;
}

.message-date-left {
    margin-left: 2%;
    margin-top: 0;
    margin-bottom: 20px;
    color: #333333;
    font-size: 10pt;
}

.message-date-left-admin {
    margin-left: 2%;
    margin-top: 0;
    margin-bottom: 20px;
    color: #ff0000;
    font-size: 10pt;
}

.message-date-right {
    margin-left: 50%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 20px;
    color: #333333;
    float: right;
    font-size: 10pt;
}

.message-self {
    width: 40%;
    word-wrap: break-word;
    padding: 4px;
    margin-left: 55%;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #0294d3;
    border-radius: 4px;
    color: #fff;
    text-align: right;
}

.message-sender {
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 0;
    color: #a3a3a3;
    font-size: 10pt;
}

.message-sender-admin {
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 0;
    color: #ff0000;
    font-size: 10pt;
}


.chat-box{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    margin-bottom: 5px;
}

.like-button, .message-box, .send-button {
    box-sizing: border-box;
    float: left;
    height: 100%;
}

.like-button {
    width: 15%;
    background-color: #4a8785;
    text-align: center;

}

.fa-thumbs-up {
    color: #fff;
    padding-top: 10px;
}

.message-box {
    width: 65%;
}

#message-input {
    height: 89%;
    width: 100%;
    overflow-y: auto;
    resize: none;
}

.send-button {
    width: 20%;
}

#btn-send {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #4a8785;
    color: #fff;
}

/* Right area */
.main-right {
    float: right;
    width: 30%;
}

.liste-des-groupes > * {
    margin: 0;
}

#liste-des-groupes-titre {
    margin: 0;
}

#groupes-disponibles-titre, .fa-plus, .group-line2 > .fa-cog {
    box-sizing: border-box;\
    vertical-align: bottom;
}

#groupes-disponibles-titre {
    float: left;
    margin: 0;
    width: 75%;
}

.fa-plus, .fa-minus {
    padding-top: 3%;
    margin-left: 30px;
}

.group-list-area {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    overflow-y: auto;
    height: 72vh;
}

.group-line2 > .fa-cog {
    padding-top: 3%;
    margin-left: 10px;
}

.group-list-elements {
    display: flex;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
}

#group-list-name {
    width: 30%;
    margin-left: 5%;
}

#default-label {
    margin-left: 5%;
    width: 50%;
}

#default-label > p {
    border: 1px solid;
    border-radius: 8px;
    font-size: 10pt;
    color: #4e90cc;
    display: inline;
}

.group-list-star-icon, .group-list-minus-icon, .group-list-plus-icon {
    margin: 0;
}

.group-list-star-icon {
    margin-left: 8%;
}

.fa-star, .fa-minus {
    color: #ed551e;
}

.group-list-plus-icon > .fa-plus {
    color: #4a8785;    
}

#group-list-name > strong, #default-label > p {
    margin: 0;
}

#group-list-name > strong {
    color: #4d6d9c;
}