body {
    width: 100%;
    margin: 0;
    height: 99vh;
    border: 1px solid #eaebeb;
}
/* Header */
header {
    background-color: #EEEEEE;
}

.header-container {
    height: 70px;
}

/* Header logo (left side) */
.header-logo {
    float: left;
    height: 100%;
}

.header-logo-elements, .header-nav-elements > li > a {
    color:inherit;
    text-decoration: none;
}

/* Header navigation bar (right side) */
.header-nav {
    float: right;
    height: 100%;
}

.header-nav-elements {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header-nav-elements > li {
    padding-bottom: 30px;
    padding-right: 20px;
    height: 100%;
    display: inline-block;
}

.nav-user-name {
    margin: 0;
}

/* Main area of the app */
.main-left, .main-right {
    box-sizing: border-box;
    vertical-align: top;
}

.groupe-actif, .liste-des-groupes {
    background-color: #4a8785;
    color: #fff;
    height: auto;
}

/* Left area */
.main-left {
    float: left;
    width: 70%;
    border-right: 1px solid #eaebeb;
    height: 87vh;
    position: relative;
}

#groupe-actif-titre, #groupe-actif-nom {
    margin: 0;
}

.chat-area{
    height: 65vh;
    overflow-y: auto;
}

.message {
    width: 50%;
    word-wrap: break-word;
    padding: 4px;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #e7e7e7;
    border-radius: 4px;
}

.chat-box{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    margin-bottom: 5px;
}

.like-button, .message-box, .send-button {
    box-sizing: border-box;
    float: left;
    height: 100%;
}

.like-button {
    width: 15%;
    background-color: #4a8785;
    text-align: center;

}

.fa-thumbs-up {
    color: #fff;
    padding-top: 10px;
}

.message-box {
    width: 65%;
}

#message-input {
    height: 89%;
    width: 100%;
    overflow-y: auto;
}

.send-button {
    width: 20%;
}

#btn-send {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #4a8785;
    color: #fff;
}

/* Right area */
.main-right {
    float: right;
    width: 30%;
}

.liste-des-groupes > * {
    margin: 0;
}

#liste-des-groupes-titre {
    margin: 0;
}

#groupes-disponibles-titre, .fa-plus, .group-line2 > .fa-cog {
    box-sizing: border-box;
    vertical-align: bottom;
}

#groupes-disponibles-titre {
    float: left;
    margin: 0;
}

.fa-plus {
    padding-top: 3%;
    margin-left: 30px;
}

.group-list-area {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    overflow-y: auto;
    height: 75vh;
}

.group-line2 > .fa-cog {
    padding-top: 3%;
    margin-left: 10px;
}

.group-list-elements {
    display: flex;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
}

#group-list-name {
    width: 30%;
    margin-left: 5%;
}

#default-label {
    margin-left: 5%;
    width: 50%;
}

#default-label > p {
    border: 1px solid;
    border-radius: 8px;
    font-size: 10pt;
    color: #4e90cc;
    display: inline;
}

#group-list-star-icon, #group-list-minus-icon, #group-list-plus-icon {
    margin: 0;
}

#group-list-star-icon {
    margin-left: 10%;
}

.fa-star, .fa-minus {
    color: #ed551e;
}

#group-list-plus-icon > .fa-plus {
    color: #4a8785;    
}

#group-list-name > strong, #default-label > p {
    margin: 0;
}

#group-list-name > strong {
    color: #4d6d9c;
}

#nomGroupe {visibility: hidden;}

/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial; 
    transition: all 0.5s;
}

section#chatbox form {
    background: #4CA0A2;
    padding: 1px;
    position: fixed;
    bottom: 0;
    float : right;
    width: 100%;
    height: 50px;
}


section #chatbox form i{
    width: 75%;
    height: 100%; 
    padding: 5px 10px;
    background: #4CA0A2;
    float: left;
    bottom : 0;
    position : fixed;
    
}

section#chatbox form input {
    border: 9;
    padding: 5px 10px;
    width: 90%;
    height: 100%;
    margin-right: .5%;
	font-size: 20px;
}
section#chatbox form button {
    width: 5%;
    height: 100%;
    background: #4CA0A2;    
    border: none;
    margin-right: 0.5%;
    font-size: 17px;
    color: white;
 
}
section#chatbox #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
section#chatbox #messages li {
    padding: 5px 10px;
}
section#chatbox #messages li:nth-child(odd) {
    background: #eee;
}

* {
	box-sizing: border-box;
	font-family: "Calibri";
}

a {
	color:inherit;
	text-decoration: none;
}

body {
	margin: 0;
}

.fa-circle {
	background-color: red;
}

i, h1 {
    display: inline-block;}
    
    .header {
        background-color: #4CA0A2;
        color:white;
    }
    
    #nomGroupe {visibility: hidden;} 
    */
